language: node_js
node_js: 
  - '0.10'
  - '0.12'
  - 'iojs'
before_install:
  - "mkdir -p ~/.npm"
install:
  - npm install
  - npm install git://github.com/hybridgroup/cylon.git
  - npm install -g istanbul codeclimate-test-reporter
script:
  - make ci
  - CODECLIMATE_REPO_TOKEN=a37a477876e31c63d0b383f76025ba07a9c1b244fce81f28cca05adca5203141 codeclimate < coverage/lcov.info
